<p id="notice"><%= notice %></p>

<h1>TrainingSessions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainingsessions.each do |trainingsession| %>
      <tr>
        <td><%= link_to 'Show', trainingsession %></td>
        <td><%= link_to 'Edit', edit_trainingsession_path(trainingsession) %></td>
        <td><%= link_to 'Destroy', trainingsession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New TrainingSession', new_trainingsession_path %>
